* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: #e3e7eb;
  font-family: 'Poppins', sans-serif;
}

h2 {
  text-align: center;
  margin: 50px 0;
}

form {
  margin: auto;
  width: 500px;
  max-width: 100%;
}

form input,
form select,
textarea {
  border: none;
  outline: none;
  padding: 10px 10px;
  border-radius: 8px;
  resize: none;
  font-family: 'Poppins', sans-serif;
  color: #111727;
  font-size: medium;
  border: 1px solid #fff;

  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow,
    transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

form :focus {
  border: 1px solid #d6d6d6;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

form select {
  background: #fff;
}

form {
  border: none;
}

form label {
  font-weight: 500;
  font-size: large;
}

form div {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

form button {
  border: none;
  display: block;
  margin-left: auto;
  margin-top: 20px;

  background: #111727;
  padding: 5px 15px;
  border-radius: 8px;
  color: white;
  font-size: medium;
  border: 1px solid transparent;
  cursor: pointer;
}

form button:hover {
  background: transparent;
  border: 1px solid #111727;
  color: #111727;

  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow,
    transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
