* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Poppins', sans-serif;
}

.form__container {
  padding: 70px 10px;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

form {
  margin: auto;
  width: 500px;
  max-width: 100%;
  border: none;
}

form input,
form select,
textarea {
  border: none;
  outline: none;
  padding: 10px 10px;
  border-radius: 8px;
  resize: none;
  font-family: 'Poppins', sans-serif;
  color: #111727;
  font-size: medium;
  border: 1px solid #fff;

  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow,
    transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

form :focus {
  border: 1px solid #d6d6d6;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

form select {
  background: #fff;
}

form label {
  font-weight: 500;
  font-size: large;
}

form .input__group {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

form .input__date {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

form .input__date div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form label.input__checkbox {
  font-weight: initial;
  font-size: initial;
}

form .input__technologies {
  display: flex;
  gap: 100px;
  margin-top: 5px;
}

form .input__technologies .technologies__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form .input__image {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #fff;
  border-radius: 8px;
}

form .input__image span {
  font-weight: initial;
  font-size: initial;
  background: #e4e4e4;
  color: gray;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 8px;
}

form .input__image .image__name {
  font-weight: initial;
  font-size: initial;
  color: #6b7280;
}

form .input__image svg {
  padding: 10px;
  width: 36px;
  height: 36px;
  transform: rotate(45deg);
}

form button {
  border: none;
  display: block;
  margin-left: auto;
  margin-top: 20px;

  background: #111727;
  padding: 5px 15px;
  border-radius: 8px;
  color: white;
  font-size: medium;
  border: 1px solid transparent;
  cursor: pointer;
}

form button:hover {
  background: transparent;
  border: 1px solid #111727;
  color: #111727;

  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow,
    transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

/* ====== Project ====== */
.project__container {
  padding: 50px 10px;
  background: #f8f8f8;
}

.card__wrapper {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 100%;
  width: 1200px;
  margin: 20px auto;
}

.card {
  border-radius: 8px;
  padding: 20px;
  background: #fff;

  width: 350px;

  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.card .project__image {
  width: 100%;
  height: 200px;

  border-radius: 8px;
}

.card .project__header {
  margin-top: 10px;
}

.card .project__header:hover {
  text-decoration: underline;
}

.card .project__header h3 {
  font-weight: normal;
}

.card .project__header p {
  font-size: 15px;
  color: #6b7280;
}

.card .project__description {
  font-size: 15px;
  margin-top: 20px;
}

.card .project__icons {
  margin-top: 20px;
  margin-bottom: 20px;

  display: flex;
  gap: 20px;
}

.card .project__icons img {
  width: 20px;
}

.project__action {
  display: flex;

  gap: 15px;
}

.project__action button {
  border: none;
  display: block;

  width: 100%;

  background: #111727;
  padding: 5px 15px;
  border-radius: 8px;
  color: white;
  font-size: medium;
  border: 1px solid transparent;
  cursor: pointer;

  font-weight: 600;
  text-transform: lowercase;
}

@media (max-width: 450px) {
  form input[type='date'] {
    font-size: 0.8rem;
  }
}

@media (max-width: 1200px) {
  .card__wrapper {
    gap: 20px;
    justify-content: center;
  }

  .card {
    width: 330px;
  }
}

@media (max-width: 768px) {
  .card {
    width: 270px;
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .card {
    width: 330px;
  }
}
