* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Poppins', sans-serif;
}

#content-container {
  width: 1200px;
  max-width: 100%;
  padding: 20px;
  margin: auto;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.container h1 {
  text-align: center;
}

.container h3 {
  font-weight: 500;
  text-align: center;
  margin-top: 50px;
}

.ratting__wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;

  margin-top: 20px;
  margin-bottom: 30px;
}

.ratting__wrapper div {
  background: #111727;
  padding: 5px 20px;
  color: whitesmoke;
  font-weight: 600;
}

.card__wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;

  flex-wrap: wrap;
}

.card__wrapper .card {
  box-shadow: 0 0 10px #e5e5e5;
  padding: 20px;
  width: 350px;
}

.card__wrapper .card q {
  font-style: italic;
  color: #111727;
  opacity: 0.8;

  display: block;
  margin-top: 10px;
}

.card__wrapper .card h5,
.card__wrapper .card p {
  text-align: right;
  margin-top: 10px;

  font-weight: 600;
}

.card__wrapper .card img {
  width: 310px;
  height: 200px;
}

@media (max-width: 992px) {
  .ratting__wrapper {
    gap: 20px;
    flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  .container {
    margin-top: 100px;
  }
}
