* {
  text-decoration: none;
}

a {
  color: black;
}

nav {
  background: #fff;
}

nav > div {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 1500px;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
}

.nav__left {
  display: flex;
  align-items: center;

  gap: 20px;
}

.nav__right {
  background: #111727;
  padding: 5px 15px;
  border-radius: 8px;
}

.nav__right a {
  color: white;
}
