{{#> header }}
Login
{{/header}}

<body class="font-[Bai Jamjuree] overflow-y-hidden bg-secondary h-screen">

  {{> nav }}

  {{#if messages.danger }}
  <div class="text-red-600 bg-red-200 text-xl w-fit mt-10 mx-auto px-10 py-4 absolute left-0 right-0 top-10">
    {{ messages.danger }}
  </div>
  {{/if }}


  <div id="content-container" class="px-5 md:pt-24 pt-40">
    <h2 class="text-3xl text-center font-semibold">Log Into Your Account</h2>
    <form method="POST" class="max-w-xl mx-auto">
      <div class="flex flex-col mt-4">
        <label class="base-label" for="email">Email</label>
        <input class="base-input" name="email" type="email" id="email" />
      </div>
      <div class="flex flex-col mt-4">
        <label class="base-label" for="password">Passwordd</label>
        <input class="base-input" name="password" type="password" id="password" />
      </div>

      <button class="block ml-auto mt-5 bg-primary px-4 py-1 text-white rounded-lg">Submit</button>
    </form>

    {{!-- {{ project.technologies }} --}}

  </div>
</body>