{{#> header }}
Testimonial
{{/header}}

<body>
  {{> nav }}

  <div id="content-container">
    <div class="container">
      <h1>My Testimonials</h1>
      <h3>Ratting By Star</h3>

      <div class="ratting__wrapper">
        <div data-ratting="all">All</div>
        <div data-ratting="1">1&#9733;</div>
        <div data-ratting="2">2&#9733;</div>
        <div data-ratting="3">3&#9733;</div>
        <div data-ratting="4">4&#9733;</div>
        <div data-ratting="5">5&#9733;</div>
      </div>

      <div class="card__wrapper">
        <!-- <div class="card">
            <img src="https://source.unsplash.com/310x200/?profile+picture+man" alt="Person" />
            <q>Keren Banget Jasa nya</q>
            <h5>- Surya Eldanto</h5>
            <p>5&#9733;</p>
          </div> -->
      </div>
    </div>
    <!-- LAST -->
  </div>
</body>

</html>