<nav>
  <div class='nav__desktop'>
    <div class='nav__left'>
      <img src='./images/logo.png' alt='Logo' />
      <a href='/'>Home</a>
      <a href='/project'>My Project</a>
      {{!-- <a href='/testimonial'>Testimonials</a> --}}
    </div>

    <div class='nav__contact'>
      <a href='/contact'>Contact Me</a>
    </div>
  </div>

  <div class='nav__mobile'>
    <input type='checkbox' />

    <div class='nav__hamburger'>
      <a href='/'>
        <img src='./images/logo.png' alt='Logo' />
      </a>
      <div class='hamburger__wrapper' id='nav-hamburger'>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class='nav__item'>
      <a href='/'>Home</a>
      <a href='/project'>My Project</a>
      {{!-- <a href='/testimonial'>Testimonials</a> --}}
      <a href='/contact' class='nav__contact'>Contact</a>
    </div>
  </div>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const links = document.querySelectorAll('nav a')
    links.forEach(item => {
      if (window.location.pathname == item.getAttribute('href')) {
        item.classList.add('nav--active')
      } else {
        item.classList.remove('nav--active')
      }
    })
  })
</script>